.carrito{
    width: 120px;
    height: 60px;
    color: rgb(255, 255, 255);
    position: relative;
    left: 85px;
    top: 18px;

}

.numero-carrito{
    position: relative;
    left: 145px;
    top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
