/*  #cbd4cb (blanco)
#41707b (Azulmarino)
#3a6cb8 (celeste)


*/



.navbar{
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 10px 0px 70px; 
    background-color:  #41707b ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo{
    width: 150px;
    height: 150px;
    margin-left: -2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.container2{
    color: white;
    padding: 0 1px 2px 0;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    list-style-type: none;
}


ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

li{
    list-style-type: none;
    text-decoration: none;
}

a{ 
    list-style-type: none;
}

.carrito{
    display: flex;
    justify-content: center;
}