.footer{
    background-color: rgb(58, 94, 97);;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h2{
    color: rgb(161, 213, 226);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.contacto{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #fff;
    color: #0df053;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    cursor: pointer;
}

.contacto:hover{
    
    text-decoration: none;
    color: #fff;
    background: #0df053;
}